* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url('https://framerusercontent.com/images/v31mndocDbjNoitOLZCyCpomyuY.png');
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: whitesmoke;
}

/* Form Container */
.addUser {
  width: 40%;
  min-height: fit-content;
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.inputField {
  background: #eaeaea;
  margin: 15px 0;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.inputField input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 12px 15px;  
}

.btnField {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btnField button {
  flex-basis: 48%;
  background-color: rgba(1, 165, 220, 0.8);
  color: #fff;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(0, 60, 61);
  outline: 0;
  cursor: pointer;
  transition: 0.2s ease;
}

.btnField button:hover {
  background-color: rgba(1, 165, 220, 1);
}


h2 {
  margin-bottom: 10px;
  text-align: center;
}

#userTable {
  width: 80%;
  border-collapse: collapse;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

#userTable th, 
#userTable td {
  padding: 12px 15px;
  text-align: center;
}

#userTable thead {
  background-color: rgba(1, 165, 220, 0.8);
}

#userTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

#userTable button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

#userTable button:first-child {
  background-color: #28a745; 
}

#userTable button:last-child {
  background-color: #dc3545; 
}

#userTable button:hover {
  opacity: 0.9;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay .addUser {
  width: 30%;
}

.hidden {
  display: none;
}
